<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>LabX</title>
    <script src="js/lib/vue.js"></script>
    <script src="js/lib/vue-resource.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery.xmlrpc.js"></script>
    <script src="js/lib/require.js"></script>
    <script src="offline/offline.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="offline/offline-theme-slide.css" />
    <link rel="stylesheet" href="offline/offline-language-english.css" />
    <link rel="stylesheet" href="css/module.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
</head>

<body>
    <div id="labx"></div>
    <div v-show="login_screen" id="login">
        <div style="width: 50%; float:left; height: 100vh; background-color: rgba(20, 20, 20, 1)" align="center">
            <div style="margin-top: 40vh">
                <h2 style="font-size: 13vh; color:whitesmoke">
                    <object width=10% type="image/svg+xml" data="images/small-logo-2.svg">Your browser does not support SVGs</object> LabX
                </h2>
            </div>
        </div>

        <div style="width: 50%; float:right" align="center">
            <div id="login" align="center">
                <div style="margin-top:33vh;  width: 60%;" align="center">
                    <input id="username" v-on:focus="login_focus" align="center" v-model="login_id" type="text" placeholder="Username" style="width:45vh"> <br><br>
                    <input id="password" v-on:focus="login_focus" v-on:keyup.enter="submit" v-model="login_pass" type="password" placeholder="Password" style="width:45vh"> <br><br>
                    <button v-show="submit_button" type="submit" v-on:click="submit" style="width:45vh">Login</button>
                    <br>
                    <b v-show="loading" class="fa fa-spinner fa-spin" style="padding: 12px 20px; margin: 8px 0; margin-bottom: 30px; font-size: 50px"></b>
                    <br>
                    <h4 v-show="show_login_error">Sorry, your Username/Password <br>was incorrect. </h4>
                    <div width="100%">
                        <span align="center" style="font-family: 'Poiret One', cursive;
                         font-weight: normal;
                         font-size: 20px;
                         color: dimgrey;
                         position: relative;
                         top: 22vh;
                         vertical-align: middle;
                         margin:0px;
                         padding:0px;                 
                         ">Forgot Password?&nbsp;&nbsp;•&nbsp;&nbsp;Privacy Policy</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-show='page' id="modules">
        <ul>
            <li><a href="http://www.zilogic.com" target="_blank">Home</a></li>
            <li><a href="http://www.zilogic.com/blog/" target="_blank">Blog</a></li>
            <li><a href="http://www.zilogic.com/training" target="_blank">Training</a></li>
            <li style="float:right"><a class="active" v-on:click="logout">&nbsp;Logout</a></li>
            <li v-on:click="open_mentor" style="float:right"><a href="#" style="padding: 0.99vh 0.5vh 0vh 1vh">
                <img src="images/user_avatar.svg" width="36vw" style=" padding-bottom: 1vh; vertical-align: middle"> {{ display_name }}&nbsp;&nbsp;</a></li>
        </ul>
        <section id="three" class="wrapper align-center">
            <div class="inner">
                <div class="flex flex-2">

                    <article>
                        <div class="image round">
                            <img src="images/labx-intro.png" alt="Pic 01" />
                        </div>
                        <header>
                            <h3>Getting Started</h3>
                        </header>
                        <footer>
                            <a class="button" v-on:click="select_module('labx')">Lets Get Started</a>
                        </footer>
                    </article>

                    <article>
                        <div class="image round">
                            <img src="images/device.png" alt="Pic 02" />
                        </div>
                        <header>
                            <h3>Linux Device Drivers</h3>
                        </header>
                        <footer>
                            <a class="button" v-on:click="select_module('ldd')">Load Exercise</a>
                        </footer>
                    </article>

                    <article>
                        <div class="image round">
                            <img src="images/lsp.png" alt="Pic 01" />
                        </div>
                        <header>
                            <h3>System Programming</h3>
                        </header>
                        <footer>
                            <a class="button" v-on:click="select_module('syscalls')">Load Exercise</a>
                        </footer>
                    </article>
<!--
                    <article>
                        <div class="image round">
                            <img src="images/interface.png" alt="Pic 03" />
                        </div>
                        <header>
                            <h3>Linux Kernel Porting</h3>
                        </header>
                        <footer>
                            <a class="button_comming" font-color='black'>Comming Soon</a>
                        </footer>
                    </article>
-->
                </div>
            </div>
        </section>
    </div>
<div id="modal">

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
            <br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright">x</span>
            <center>
                <h2> Select Task </h2>

                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <span style=" font-family: 'Poiret One', cursive;
                font-weight: bold;font-size: 12pt; font-size: 22px"> Task Details </span></div>

                <div id="task_details" v-if="refresh_task">
                    <div style="width:50%; float:left" align="right">
                        <span style=" font-family: 'Poiret One', cursive;
        font-weight: bold;font-size: 12pt; font-size: 22px">
                        {{ mouseover_task }} <br>
                    {{ mouseover_task_details }} <br>
                    </span>
                    </div>
                    <div style="width:49.5%; float:right; padding-left: 0.5vh; display: inline" align="left">
                        <span style=" font-family: 'Poiret One', cursive;
        font-weight: bold;font-size: 12pt; font-size: 22px"> {{ mouseover_task_status }} </span><br>
                        <div style="display:inline" v-if="mouseover_task_status == 'NEW'">
                            <img src="images/new_progress.png" style="display:inline; margin:0px;">
                        </div>
                        <div style="display:inline" v-if="mouseover_task_status == 'COMPLETED'">
                            <img src="images/completed.png" style="display:inline; margin:0px;">
                        </div>
                        <div style="display:inline" v-if="mouseover_task_status == 'IN_PROGRESS'">
                            <img src="images/inprogress.png" style="display:inline; margin:0px;">
                        </div>

                    </div>
                    <br><br>.<br><br>
                    <div style="display: block; margin-left: 0vh; display: block;" align="center">
                        <ul class=task align="center">
                            <li align="center" id=task v-for="(value, key, index) in task[0]" v-on:mouseover="mouseover_task_details = task[0][key].title;
                                    mouseover_task_status = task[0][key].status;
                                    mouseover_task = key;
                                    mouseover_task_index = index;
                                    " v-on:click="selected_task_details = task[0][key].title;
                                                  selected_task_status = task[0][key].status;
                                                  selected_task = key;
                                                  selected_task_index = index;
                                                  setup_wb();
                                                  get_next_task(); " :class="'task-' + task[0][key].status">
                                {{index+1}}
                                <span class="status task-status" :class="'status-' + task[0][key].status">
                                    </span>
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </center>
            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            </div>
        </div>
    </div>

    <div id="info" class="w3-modal">
        <div class="w3-modal-content">
            <br>
            <span onclick="document.getElementById('info').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close">x</span>
            <center>
                <h2> Task Complete ! </h2>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                </div>
                <span style="font-family: 'Poiret One', cursive; font-weight:bold; font-size: 3.5vh"> {{selected_task}} <br> "{{selected_task_details}}" </span>
                <br><br>
                <img src="images/star.png">
                <img src="images/star.png">
                <img src="images/star.png">
            </center>
            <div class="w3-container w3-border-top w3-light-grey">
                <center><br>
                    <button v-on:click="load_next_task" type="next" class="w3-button">Next >></button>
                </center>
            </div>
        </div>
    </div>


    <div id="error" class="w3-modal">
        <div class="w3-modal-content">
            <br>
            <span onclick="document.getElementById('error').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close">x</span>
            <center>
                <h2> Oops !</h2>
                <div class="w3-container w3-border-top w3-padding-2 w3-light-grey">
                </div>
            <div style="width: 35%; display: inline-block;  vertical-align: middle;">
                <span style="font-family: 'Poiret One', cursive; font-weight:bold; font-size: 3.5vh"> <span style="font-size: 5vh">Error</span><br>Something went wrong.<br>
<!--
                    <div class="tableblock">
                    <table>
                    <tr>
                    <th>Error</th>
                    <th>Details</th>
                    </tr> 
                        
                    <tr>
                    <td>Status</td>
                    <td></td>
                    </tr>
                    </table>
                    </div>
-->
            
                    Please logout and try again. </span><br>
              <a href="mailto:code@zilogic.com"><button type="report"> Report Error</button></a>
            </div>
                
                
            <div style="width:25%; display: inline-block; vertical-align: middle;">
                <img width="200vw" src="images/labx_error.png">
            </div>

            </center>
            <div class="w3-container w3-border-top w3-light-grey">
                <center><br>
                    <button v-on:click="logout();
                                            " type="next" class="w3-button">Logout</button>
                </center>
            </div>
        </div>
    </div>


</div>

    <div id="workspace" v-show="page">

        <ul>
            <li><a href="http://www.zilogic.com" target="_blank">Home</a></li>
            <li><a href="http://www.zilogic.com/blog/" target="_blank">Blog</a></li>
            <li><a href="http://www.zilogic.com/training" target="_blank">Training</a></li>
            <li style="float:right">
                <a class="active" v-on:click="logout">Logout</a></li>
            <li style="float:right"><a class="active" v-on:click="load_modules_page">Modules</a></li>
            <li style="float:right"><a class="active" v-on:click="select_module">Tasks</a></li>
            <li style="float:right; cursor:pointer"><a class="" v-on:click="select_module">
            <img src="images/task_title.png" style="width: 2.0vh; padding:0; margin: 0;"> Task {{ active_task_index + 1 }}: {{ active_task_title }}</a></li>
        </ul>

        <div style="width: 50%; float:left;" align="left">
            <div id="window">
                <div id="terminalbody">
                    <p id="terminalp" style="color: white">{{ printscreen }} </p>
                </div>
            </div>
            <center>
                <input id="command" v-model="command" type="command" placeholder="command" onkeydown="workspace.input_key()" @keydown.ctrl.67="special_key_event" @keydown.ctrl.68="special_key_event" @keydown.ctrl.90="special_key_event">
                <button id="send_command_button" type="send" v-on:click="sendcommand()">Send</button>
                <button type="wb_reset" v-on:click="wb_reset">Reset</button>
            </center>
            <center>
                <div id="device_space" align="center" style="margin-top:0.5vh; width: 70%; display: inline-block">
                    <object id="board" width="100%" type="image/svg+xml" data="images/simple-borad.svg">Your browser does not support SVGs</object>
                </div>
            </center>
            <br>
        </div>

        <div style="width: 50%; float:right" align="center">
            <div v-show=!show_led>
                <ul class="menu">
                    <li class="menu" style="float:right"><a v-on:click="editor_resize"> {{editor_resize_button}}</a></li>
                    <li class="menu" style="float:right"><a id="check" v-on:click="wbench_check">Check
            <span id="check_status" class="status"></span>
            <div id="check_loader" class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
            </div>

            </a></li>
                    <li class="menu" style="float:right;"><a id="build" v-on:click="wbench_build">Build
            <span id="build_status" class="status"></span>
            
             <div id="build_loader" class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
            </div>
               </a></li>
                    <li class="menu" style="float:right;"><a id="save" v-on:click="wbench_save">Save
            <span id="save_status" class="status"></span>
            
            <div id="save_loader" class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
            </div>
            
            </a></li>
                    <li class="menu" style="float:right"><a v-on:click="wbench_restore_task">Restore&nbsp;</a></li>

                    <div class="dropdown">
                        <button class="dropbtn">File <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">

                            <li v-for="file in task_file_list" v-on:click="active_file = file; select_file();">
                                <center>{{ file }}</center>
                            </li>
                        </div>
                    </div>
                    <li class="filename" style="float:left"><a style="cursor: default" v-on:click="">{{ active_file }}</a></li>
                </ul>
            </div>

            <div id="editor_window" style="height: 46vh; width: 97%;">
                <div id="editor" style="padding: 0; margin: 0; width:100%; height: 100%;"></div>
            </div>
            <center>
                <div id="output">
                    <ul class="tab">
                        <li id="objective" class="menu" style="
                    float:left; 
                    width:33.33%;
                    font-size: 2vh;
                    font-weight: bold;
                    font-family: 'Poiret One', cursive;"><a v-on:click="select_objective">Task Objective&nbsp;&nbsp; </a></li>

                        <li id="build_output" class="menu" style="
                    float:left; 
                    width:33.33%;
                    font-size: 2vh;
                    font-weight: bold;
                    font-family: 'Poiret One', cursive;"><a v-on:click="select_build_output">Build Output&nbsp;&nbsp; </a></li>

                        <li id="check_result" class="menu" style="
                    float:left; 
                    width:33.33%;
                    font-size: 2vh;
                    font-weight: bold;
                    font-family: 'Poiret One', cursive;"><a v-on:click="select_check_result">Check Results&nbsp;&nbsp; </a></li>
                    </ul>

                    <div id="output_content">

                        <div id="objective_content" v-show=show_task_objective>
                            <div id="goal_table">
                                <div id="goal">
                                </div>
                                <img src="images/goal.png" style="width: 10vh; margin-top: 1em;">
                            </div>
                        </div>

                        <div v-if=show_build_output>
                            <div v-if=build_passed>
                                <img src="images/build_success.svg" style="width:16vh; margin-top: 7vh">
                                <br><br>
                                <h4 style="font-size:3vh; font-weight: bold">Build Complete</h4>
                            </div>

                            <table v-if=!build_passed style="width:100%" align='center'>
                                <tr align="center">
                                    <th>#</th>
                                    <th>File</th>
                                    <th>Line</th>
                                    <th>Description</th>
                                </tr>

                                <tr v-if=update_build v-for="(value,key) in errors" align='center' v-on:click="
                                         selected_error = errors[key].message;
                                         selected_error_line = errors[key].line;
                                         selected_error_index = key;
                                         set_marker()">
                                    <td>{{ errors[key].type }}</td>
                                    <td>{{ errors[key].filename }}</td>
                                    <td>{{ errors[key].line }}:{{ errors[key].col }}</td>
                                    <td align="left">{{ errors[key].message }}</td>
                            </table>
                        </div>

                        <div v-if=show_check_result>
                            <table v-if="update_check" class="check" v-for="(value,case_index) in check" style="width:100%" align='center'>
                                <tr v-if="update_check" class="check" align='left' 
                                    v-on:click="
                                                case_info[case_index] = !case_info[case_index];
                                                update_check=false;
                                                update_check=true;">
                                    <th :class="check[case_index].status"><img v-if=case_info[case_index] src="images/up.png" width="18vh"><img v-if=!case_info[case_index] src="images/down.png" width="18vh"> {{ check[case_index].name }}</th>
                                    <th :class="check[case_index].status"></th>
                                    <th :class="check[case_index].status" align='right'>{{ check[case_index].status }}</th>
                                </tr>

                                <tr :class="check[case_index].steps[step_index].status" v-if="case_info[case_index]" v-for="(value,step_index) in check[case_index].steps" align='left'>
                                    <td class="check"><img src="images/next.png" width="18vh"> {{ check[case_index].steps[step_index].name }} </td>

                                    <td class="check"> {{ compute_args(check[case_index].steps[step_index].args) }} </td>

                                    <td class="check" align='right'>
                                        <img v-if="check[case_index].steps[step_index].status == 'PASS'" src="images/pass.png" width="18vh">

                                        <img v-if="check[case_index].steps[step_index].status == 'FAIL'" src="images/fail.png" width="18vh"> {{ check[case_index].steps[step_index].status }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <script src="ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        const ws_url = 'wss://lab.zilogic.com/events'
        const xmlrpc_url = 'https://lab.zilogic.com/rpc'
    </script>
    <script src="js/module.js"></script>
    <script src="js/workspace.js"></script>
    <script src="js/login.js"></script>
</body>

</html>